*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  // transition: color 0.1s ease, background-color 0.2s ease;
  /*Automatically inherits what is specified by on the later border-box*/
}

// *::selection {

// }

html {
  //this defines what 1rem is -- 10px
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 1.8rem;
  background-color: hsl(var(--color-very-dark-blue));
}

.grid {
  display: grid;
}

.dashboard {
  margin: 8.2rem 2.4rem;
  grid-template-columns: 1;
  gap: 2rem;

  & > * {
    border-radius: 1.5rem;
  }
}
